%h1= movie.title
.jumbotron
  = movie.description
  = link_to 'Edit', edit_movie_path(movie), class: "btn btn-primary"
- if user_signed_in?
  %p= link_to 'Email me details about this movie', send_info_movie_path(movie), class: 'btn btn-sm btn-default'
  = render 'comments/comments'
